* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Estilos de la barra amarilla */
.menu-yellow {
    background-color: #f6cf3c;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 10;
}

.menu-yellow .navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    justify-content: center;
    padding: 0;
    height: 100%;
    align-items: center;
}

.menu-yellow .navbar ul li {
    margin: 0 15px;
}

.menu-yellow .navbar ul li a {
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 60px;
    font-weight: bold;
}

/* Estilos de la barra negra */
.menu-black {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 60px;
    margin-top: -1px;
    position: relative;
    z-index: 10;
}

.menu-black .navbar {
    flex-grow: 1;
}

.menu-black .navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.menu-black .navbar ul li {
    margin: 0 15px;
}

.menu-black .navbar ul li a {
    font-size: 13px;
    color: #bdbdbd;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    line-height: normal;
}

.CB {
    font-size: 13px;
    color: #f6cf3c;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    line-height: normal;
    border-bottom: 5px solid #f6cf3c;
    line-height: 30px;
}

/* Estilos para el logo */
.logo {
    position: absolute;
    width: 50px;
    left: 150px;
    top: 3px;
}


/* Estilos logos Facebook, Instagram */
.icon {
    width: 15px;
    margin: 0 15px;
    vertical-align: middle;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
    position: relative;
}

/* Estilos para el input de búsqueda */
input[type="text"] {
    border: none;
    border-radius: 15px;
    padding: 2px 5px;
    width: 155px;
    height: 20px;
    font-size: 11px;
    outline: none;
}

/* Estilos para el icono de búsqueda */
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}

/* Estilos de la barra de chat */
.chat-container {
    position: fixed;
    bottom: 20px;
    left: 5%; /* Alinea a la izquierda */
    right: 5%; /* Alinea a la derecha */
    margin: 0;
    padding: 10px;
    background-color: rgba(241, 241, 241, 0.9);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.chat-input {
    display: flex;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    border-radius: 15px;
}

#chat-form {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
    outline: none;
    height: 100%;
}

.chat-input button {
    padding: 0 15px;
    border: none;
    background-color: #f6cf3c;
    color: #000;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    height: 100%;
    margin-left: 0;
    min-width: 70px;
}


.chat-input button:hover {
    background-color: #e5b83d;
}

.text-chat {
    position: relative;
}

.arrow-animation {
    font-size: 40px; /* Tamaño de la flecha */
    color: white; /* Color de la flecha */
    animation: bounce 0.5s infinite alternate; /* Animación de rebote */
    margin: 10px 0; /* Espaciado alrededor de la flecha */
}

.input-message {
    border-radius: 20px; /* Bordes redondos */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Color del borde */
}

.input-message:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
}


/* Estilo para la sección de mensajes con scroll */
#messages {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 225px); /* Ajusta este valor según el espacio ocupado por otros elementos */
    overflow-y: auto;
    padding: 10px;
    position: relative;
    z-index: 101;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
}

.user-message {
    background-color: #f6cf3c;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    align-self: flex-end; /* Alineación a la derecha */
    max-width: 70%; /* Ancho máximo para el mensaje */
    word-wrap: break-word; /* Permite que el texto se rompa */
     display: block; /* Esten es su propia linea*/
    align-items: center; /* Centrar verticalmente el contenido */
}

.user-message::before,
.bot-message::before {
    content: '';
    width: 40px; /* Tamaño de la imagen */
    height: 40px; /* Tamaño de la imagen */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
    border-radius: 50%; /* Bordes redondeados para la imagen */
    border: 3px solid black; /* Borde negro alrededor de la imagen */
    background-color: white; /* Fondo blanco para el círculo */
    float: left; /* Flota la imagen a la izquierda */
    background-size: cover; /* Asegura que la imagen cubra el espacio */
}

.bot-message {
    background-color: #e5e5e5;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    align-self: flex-start; /* Alineación a la izquierda */
    max-width: 70%; /* Ancho máximo para el mensaje */
    word-wrap: break-word; /* Permite que el texto se rompa */
    display: block; /* Esten es su propia linea*/
    align-items: center; /* Centrar verticalmente el contenido */
}

/* Cambia la propiedad de fondo para la imagen de usuario */
.user-message::before {
    background-image: url('../img/user.png'); /* Ruta de la imagen */
}

/* Cambia la propiedad de fondo para la imagen de Cosevito */
.bot-message::before {
    background-image: url('../img/cosevito.png'); /* Ruta de la imagen */
}

/* Estilo de la barra de desplazamiento */
#messages::-webkit-scrollbar {
    width: 10px;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #f6cf3c;
    border-radius: 5px;
}

#messages::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 5px;
}

#wait-message {
    background-color: #e5e5e5; /* Mismo color de fondo que el bot */
    color: black; /* Color de texto */
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    align-self: flex-start; /* Alineación a la izquierda */
    max-width: 70%; /* Ancho máximo */
    word-wrap: break-word; /* Permite que el texto se rompa */
    width: 150px; /* Ancho fijo */
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-yellow .navbar ul li {
        margin: 0 5px; /* Reduce el margen en pantallas pequeñas */
    }

    .chat-container {
        left: 5%; /* Aumenta el ancho en pantallas pequeñas */
        right: 5%;
    }

    .chat-input {
        height: 35px; /* Ajusta la altura del contenedor de entrada */
    }

    .chat-input input {
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }

    .chat-input button {
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }
}

@keyframes dot-blink {
    0% { content: "•"; }   /* Primer punto siempre visible */
    33% { content: "•"; }  /* Un punto visible */
    66% { content: "••"; } /* Dos puntos visibles */
    100% { content: "•••"; } /* Tres puntos visibles */
}

#dots {
    font-size: 40px; /* Ajusta el tamaño de los puntos */
    color: black; /* Cambia el color a negro */
}

.background-image {
    position: absolute;
    top: 0; /* Alinea al borde superior */
    left: 0; /* Alinea al borde izquierdo */
    width: 100%; /* Ancho completo de la pantalla */
    height: 100%; /* Altura completa de la pantalla */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
    z-index: 1; /* Asegura que la imagen esté detrás */
    filter: blur(8px); /* Aplica un efecto de difuminado */
}

